.body-wrapper {
    min-height: 100%;
    margin-bottom: -1.8rem;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.column-full {
    width: 100%;
    float: left;
}

.column-half {
    width: 50%;
    float: left;
}

.column-third {
    width: 33%;
    float: left;
}

.column-quarter {
    width: 25%;
    float: left;
}

.button {
    padding: 0.5rem;
}

.list {
    display: block;
    margin-bottom: 2rem;
    padding: 0;
    width: 30%;
}

.list-element {
    display: inline-block;
    width: 100%;
}

.beverage-list,
.extra-list {
    width: 80%;
}

.beverage,
.extra {
    padding: 1rem;
}

.beverage-name,
.beverage-price,
.extra-name,
.extra-price {
    float: left;
    width: 40%;
}

.beverage-add-button,
.beverage-remove-button,
.extra-add-button,
.extra-remove-button {
    float: right;
    width: 10%;
}

.order-form {
    width: 80%;
}

.order-line {
    padding: 1rem;
}

.order-line-name,
.order-line-quantity,
.order-line-total {
    float: left;
}

.order-line-remove-button {
    float: right;
}

.order-line-name {
    width: 35%;
}

.order-line-quantity,
.order-line-total {
    width: 25%;
}

.order-total-label {
    float: left;
}

.order-total {
    display: inline-block;
    padding: 0 0.5rem;
}

.label {
    display: inline-block;
}

.header-title {
    display: inline-block;
    float: left;
    margin-left: 1.5rem;
    margin-bottom: 0;
}

.header-shopping-icon {
    display: inline-block;
    float: right;
    padding: 0 1rem;
}

.footer {
    height: 1.8rem;
}
