.header {
    background-color: #222;
}

.header-title {
    color: white;
    font-size: 2.5rem;
}

.header-shopping-icon {
    color: white;
    cursor: pointer;
}

.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.button:hover {
    background-color: #222;
    color: white;
}

.beverage-list,
.extra-list {
    list-style: none;
}

.beverage,
.extra {
    border: 1px solid black;
}

.beverage:first-child,
.extra:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.beverage:last-child,
.extra:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.beverage-add-button,
.beverage-remove-button,
.extra-add-button,
.extra-remove-button {
    cursor: pointer;
}

.order-list {
    list-style: none;
}

.order-line-name {
    font-weight: bold;
}

.order-line-quantity:before {
    content: 'x';
    font-size: 0.8rem;
}

.order-line-quantity {
    font-size: 1.2rem;
    text-anchor: middle;
}

.order-line-remove-button {
    cursor: pointer;
}

.footer {
    background-color: #222;
}

.footer-text {
    text-align: center;
    color: white;
}
