* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
}

.body-wrapper {
    min-height: 100%;
    margin-bottom: -1.8rem;
}


header {
    display: inline-block;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 1rem;
    margin: 0;
    color: white;
}

header > h1 {
    float: left;
}

header > i {
    float:  right;
}

main {
    padding: 1.5rem;
}

.product-list {
    list-style: none;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0;
    width: 30%;
}

.product {
    display: inline-block;
    width: 100%;
}

.product > p {
    width: 40%;
}

.product > * {
    float: left;
}

.product > i {
    cursor: pointer;
    float: right;
}

footer {
    width: 100%;
    height: 1.8rem;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #222;
    color: white;
}

footer > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.row {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.columns-12 {
    width: 100%;
    display: inline-block;
    float: left;
}

.columns-6 {
    width: calc(100% / 2);
    display: inline-block;
    float: left;
}

.columns-3 {
    width: calc(100% / 4);
    display: inline-block;
    float: left;
}

.columns-1 {
    width: calc(100% / 12);
    display: inline-block;
    float: left;
}
